*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
} 

/* table */
table{
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000; 
    padding: 8px;
    text-align: left;
}
    
th {
background-color: #f2f2f2;
}

/* Member info table*/
.member-info table{
    margin: auto;
}

.member-info td:nth-child(2), .member-info th:nth-child(2) {
    width: 30px;
}
  
/* Diary table */
.App table {
    margin: auto;
    width: 70%;
}

.App h1{ /* member's names*/
    margin-left: 230px;
}

.App td:first-child, .App th:first-child {
width: 15%; 
}

.App td:nth-child(2), .App th:nth-child(2) {
width: 45%; 
}
  
/* Space between member */
.App{
    padding: 50px; 
}

/* meeting minutes table */
.meeting-minutes table{
    width: 100%;
}

.meeting-minutes td:first-child, .meeting-minutes th:first-child,
.meeting-minutes td:nth-child(2), .meeting-minutes th:nth-child(2) {
width: 7%; 
}

.meeting-minutes td:nth-child(4), .meeting-minutes th:nth-child(4),
.meeting-minutes td:nth-child(5), .meeting-minutes th:nth-child(5),
.meeting-minutes td:nth-child(6), .meeting-minutes th:nth-child(6) {
width: 20%; 
}